.ayoshare {
	font-family: sans-serif;
	padding: 2px 2px;
    overflow: hidden;
}

.ayoshare .button {
    background: #DCE0E0;
    position: relative;
    display: block;
    float: left;
    height: 40px;
    margin: 4px;
    overflow: hidden;
    width: 98px;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.ayoshare .icon {
    display: block;
    float: left;
    position: relative;
    z-index: 3;
    height: 100%;
    vertical-align: top;
    width: 38px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
    text-align: center;
}

.ayoshare .icon i {
    color: #fff;
    line-height: 42px;
}

.ayoshare .mobile {
    display: block;
    float: left;
    position: relative;
    z-index: 3;
    height: 100%;
    vertical-align: top;
    width: 100%;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
    text-align: center;
}

.ayoshare .mobile i {
    color: #fff;
    line-height: 42px;
}

.ayoshare .counter {
    z-index: 2;
    display: block;
    margin: 0;
    height: 100%;
    left: 38px;
    position: absolute;
    width: 60px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
}

.ayoshare .counter p {
    font-weight: 400;
    border-left: 1px solid #fff;
    border-left: 1px solid rgba(255,255,255,0.35);
    color: #fff;
    font-size: 16px;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 100%;
}

.ayoshare a {
	color:#fff;
	text-decoration:none;
}

.ayoshare .facebook .icon,
.ayoshare .facebook .counter {
	background-color: #4769a5;
}

.ayoshare .google .icon,
.ayoshare .google .counter {
	background-color: #bf3727;
}

.ayoshare .linkedin .icon,
.ayoshare .linkedin .counter {
	background-color: #2ba3e1;
}

.ayoshare .stumbleupon .icon,
.ayoshare .stumbleupon .counter {
	background-color: #eb4723;
}

.ayoshare .bufferapp .icon,
.ayoshare .bufferapp .counter {
	background-color: #323232;
}

.ayoshare .reddit .icon,
.ayoshare .reddit .counter {
	background-color: #2970FF;
}

.ayoshare .pinterest .icon,
.ayoshare .pinterest .counter {
	background-color: #cc2209;
}

.ayoshare .vk .icon,
.ayoshare .vk .counter {
	background-color: #4c75a3;
}

.ayoshare .pocket .icon,
.ayoshare .pocket .counter {
	background-color: #e84352;
}

.ayoshare .twitter .mobile {
	background-color: #51a3bf;
}

.ayoshare .email .mobile {
	background-color: #444;
}

.ayoshare .whatsapp .mobile {
	background-color: #4DC247;
}

.ayoshare .telegram .mobile {
	background-color: #34ADE1;
}

.ayoshare .viber .mobile {
	background-color: #7C529E;
}

.ayoshare .line .mobile{
    background-color: #00B900; /* Green Line Logo color */
}

/* add hover and active effects */

.ayoshare .facebook:hover .icon,
.ayoshare .facebook:hover .counter {
	background-color: #335591;
}

.ayoshare .google:hover .icon,
.ayoshare .google:hover .counter{
	background-color: #AB2313;
}

.ayoshare .linkedin:hover .icon,
.ayoshare .linkedin:hover .counter {
	background-color: #178FCD;
}

.ayoshare .stumbleupon:hover .icon,
.ayoshare .stumbleupon:hover .counter {
	background-color: #D7000F;
}

.ayoshare .bufferapp:hover .icon,
.ayoshare .bufferapp:hover .counter {
	background-color: #1E1E1E;
}

.ayoshare .reddit:hover .icon,
.ayoshare .reddit:hover .counter {
	background-color: #155CEB;
}

.ayoshare .pinterest:hover .icon,
.ayoshare .pinterest:hover .counter {
	background-color: #B80E00;
}

.ayoshare .vk:hover .icon,
.ayoshare .vk:hover .counter {
	background-color: #38618F;
}

.ayoshare .pocket:hover .icon,
.ayoshare .pocket:hover .counter{
	background-color: #D42F3E;
}

.ayoshare .twitter .mobile:hover{
	background-color: #3D8FAB;
}

.ayoshare .email .mobile:hover {
	background-color: #303030;
}

.ayoshare .whatsapp .mobile:hover {
	background-color: #39AE33;
}

.ayoshare .telegram .mobile:hover {
	background-color: #2099CD;
}

.ayoshare .viber .mobile:hover {
	background-color: #683E8A;
}

.ayoshare .line .mobile:hover{
    background-color: #00A500;
}

.ayoshare .facebook:active .icon,
.ayoshare .facebook:active .counter {
	background-color: #132038;
}

.ayoshare .google:active .icon,
.ayoshare .google:active .counter{
	background-color: #66140b;
}

.ayoshare .linkedin:active .icon,
.ayoshare .linkedin:active .counter {
	background-color: #08374f;
}

.ayoshare .stumbleupon:active .icon,
.ayoshare .stumbleupon:active .counter {
	background-color: #770008;
}

.ayoshare .bufferapp:active .icon,
.ayoshare .bufferapp:active .counter {
	background-color: #000000;
}

.ayoshare .reddit:active .icon,
.ayoshare .reddit:active .counter {
	background-color: #092f7a;
}

.ayoshare .pinterest:active .icon,
.ayoshare .pinterest:active .counter {
	background-color: #630700;
}

.ayoshare .vk:active .icon,
.ayoshare .vk:active .counter {
	background-color: #0d1823;
}

.ayoshare .twitter .mobile:active{
	background-color: #235566;
}

.ayoshare .pocket:active .icon,
.ayoshare .pocket:active .counter{
	background-color: #7c1b24;
}

.ayoshare .email .mobile:active {
	background-color: #0c0c0c;
}

.ayoshare .whatsapp .mobile:active {
	background-color: #1e5e1b;
}

.ayoshare .telegram .mobile:active {
	background-color: #135b7a;
}

.ayoshare .viber .mobile:active {
	background-color: #2e1b3d;
}

.ayoshare .line .mobile:active{
    background-color: #004900;
}

/* font awesome doesn't provide official Line Messenger icon */
.fa-line{
    background-image: url("https://static.line.naver.jp/line_regulation/files/ver2/LINE_Icon.png"); /* Official Line Logo */
    background-size: cover;
    width: 32px;
    height: 32px;
    margin: 3px 0 0 0;
    padding: unset;
}
